<img src="./images/kiui-logo.png" alt="kiui-logo" class="logo-index">

    <h1 class="title-index ml-5 mt-5 mb-5 mr-5">
        Organiza eventos con tus amigos
    </h1>
    <p class="d-index ml-5">Crea, gestiona y comparte eventos de manera sencilla</p>
    <div class="text-center">
        <a href="/login" class="btn btn-create">CREAR EVENTO</a>
    </div>

