<div class="text-index">
    <img src="./images/kiui-logo.png" alt="kiui-logo" class="logo-index">

    <h1 class="title-index ml-5 mt-5 mb-5 mr-5">
        Organiza eventos con tus amigos
    </h1>
    <p class="d-index ml-5">Gestionar tus eventos nunca ha sido tan fácil</p>
    <div class="text-center">
        <a href="/createEvent" class="btn btn-create">CREAR EVENTO</a>
    </div>
</div>
    <div class="explain-index">
        <div class="explain-index-text"><i class="fa fa-plus-circle" aria-hidden="true"></i>Crea tus eventos personalizados.</div>
        <div class="explain-index-text"><i class="fa fa-share-alt" aria-hidden="true"></i>Comparte el evento a traves de whasap.</div>
        <div class="explain-index-text"><i class="fa fa-user-plus" aria-hidden="true"></i>Gestiona facilmente la asistencia</div>
    </div>

