body,html {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

#map, #map-event {
    height: 50vh;
    width: 50%;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  footer {
    position: relative;
    bottom: 1em;
    right: 0;
    left: 0;
    font-size: 1.4rem;
  }

  .logo-nav {
    width: 7em;
  }

  .navbar {
    border-bottom: 1px solid #EEE;
    box-shadow: 5px 5px 5px #EEE;
  }

  #nav-show {
    /* display: none; */
    border: 1px solid #888;
    box-shadow: 1px 1px 1px #888;
    padding: .8em .4em;
    text-align: initial;
  }

  .a-button {
    color:#888;
  }

  .logo-index {
    width: 10rem;
    height: auto;
    margin: 30px 40px;
  }
  
  .title-index {
    font-size: 7rem;
    font-weight: bold;
  }
  .d-index {
    font-size: 2rem;
    margin: 10rem 1rem 2rem;
    font-weight: bold;
  }

  .h1 {
    font-size: 3.2rem;
  }
  
  .btn-create {
    background-color: #912180;
    padding: 30px 40px;
    border: 1px solid white;
    color: white;
    font-size: 2rem;
    border-radius: 30px;
    width: 90%;
    font-weight: bold;
  }
  
  .explain-index {
    background-color : #5c2385;
    padding: 1em 0 1em 3em;
    margin: 5em 0;
  }
  .explain-index-text {
    margin: 2em auto;
    color: white;
    font-size: 3.5rem;
  }
  .explain-index-text > i {
    margin-right: 20px;
  }

.login {
  margin: 3em 1em;
}

.form-group {
  background-color:#EEE;
  border-radius: 2px;
  margin: 2em 1em 0;
}

.form-group > input{
  border: 0;
  border-bottom: 1px solid black;
  background-color:#EEE;
  border-radius: 2px;
  font-size: 2.5rem;
  padding: .5em 0 .5em 1em;
}
.invalid-feedback{
  font-size: 2.5rem;
  padding: .2em 0 .2em 1em;
}

.form-group > label {
  border:0;
  font-size: 2.5rem;
  padding: .5em 0 .2em 1em;

}

.boton {
  padding: 30px 40px;
  border: 1px solid white;
  color: white;
  font-size: 2rem;
  border-radius: 30px;
  width: 90%;
  font-weight: bold;
  box-shadow: 1px 1px 1px grey;
}

.btn-google {
    display: inline-block;
    background: white;
    color: #444;
    border: thin solid #888;
}

.stripe-sesion {
  display: flex;
  font-size: 2.5em;
  margin: 1.5em 1em;
}
.stripe {
  width: 50%;
  border-bottom: 1px solid #888;
  transform:translateY(-25px);
}
.signup {
  font-size: 2rem;
}
.body {
  min-height: 95vh;
}

.event-list .event-item {
  padding: 1rem 1.9rem;
  height: 95%;
  margin: 0 0.9375rem 1.875rem 0.9375rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.event-list .event-item.featured {
  border: 1.5px solid #68cbd7;
}

.event-list .event-item .event-schedule {
  color: #3c4142;
  margin-bottom: 0.625rem;
}

.event-list .event-item .event-schedule .event-icon {
  stroke-width: 1px;
  width: 1.125rem;
  height: 1.125rem;
  margin: 0.6875rem 1rem 0 0;
}

.event-list .event-item .event-schedule .event-day {
  font-size: 70px;
  font-weight: 200;
  margin-right: 1rem;
  line-height: 100%;
}

.event-list .event-item .event-schedule .event-month-time {
  font-weight: 200;
  font-size: 22px;
  display: flex;
  line-height: 118%;
  flex-direction: column;
  justify-content: center;
}

.event-list .event-item .event-schedule .event-month-time span {
  display: block;
  text-transform: uppercase;
}

.event-list .event-item .event-title {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: 300;
  color: #3c4142;
}

.event-list .event-item .event-title:hover {
  color: #68cbd7;
  text-decoration: none;
}

.event-list .event-item .event-content {
  color: #b1bac5;
  margin-bottom: 0.625rem;
  font-size: 12px;
  font-weight: 300;
}

.event-list .event-item .event-participants {
  padding: 0;
  margin: 0;
}

.event-list .event-item .event-participants .event-user {
  width: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.event-list .event-item .event-participants .event-user .event-user-inital {
  font-size: 13px;
  line-height: 100%;
}

.profile-text {
  font-size: 2.5em;
  margin: 8em 3em;
}

.img-profile {
  transform: translateY(30%);
}

.profile-bg {
  background: rgb(92,35,133);
  background: linear-gradient(0deg, rgba(92,35,133,1) 0%, rgba(145,33,128,1) 61%, rgba(194,31,125,1) 93%);
}

.event-list .event-item .event-participants {
  display: flex !important;
}

.event-list .event-item .event-participants .event-user .event-user-pic {
  width: 100%;
  border-radius: 50%;
}

.event-list .event-item .event-participants li + li {
  margin-left: -10px;
}


.event-list .event-item .event-participants {
  flex-direction: row !important;
}
.event-list .event-item .event-participants {
  padding: 0;
  margin: 0;
}

.bg-soft-primary {
  background-color: #dce3fa;
}

.bg-soft-danger {
  background-color: #fedce0;
}

.bg-soft-info {
  background-color: #d7efff;
}

.bg-soft-success {
  background-color: #d1f6f2;
}

.event-list .event-item .event-schedule, .event-list .event-item .event-participants{
  display: flex !important;
}


.owl-prev {
width: 100px;
height: 100%;
position: absolute;
top: 0;
margin-left: 0;
display: block !important;
background-image: linear-gradient(to right, #F4F7FD, transparent) !important;
}

.owl-prev .owl-nav-wrapper {
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.owl-prev .owl-nav-wrapper svg, .owl-prev .owl-nav-wrapper i {
color: #ffffff;
width: 20px;
height: 20px;
}
.owl-stage {
  display: flex;
}

.owl-next {
width: 100px;
height: 100%;
position: absolute;
top: 0;
right: 0;
display: block !important;
background-image: linear-gradient(to right, transparent, #F4F7FD) !important;
}

.owl-next .owl-nav-wrapper {
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
}

.owl-next .owl-nav-wrapper svg, .owl-next .owl-nav-wrapper i {
color: #ffffff;
width: 20px;
height: 20px;
}

.owl-dots {
text-align: center;
margin-top: .5rem;
}

.owl-dots .owl-dot {
width: 10px;
height: 10px;
border-radius: 100%;
background: #cbcbcb !important;
margin-right: 5px;
display: inline-block;
}

.owl-dots .owl-dot.active {
background: #757575 !important;
}

.text-primary, .task-list-wrapper .completed .remove {
  color: #4e73e5 !important;
}

#wrapper {
  text-align: center;
  box-sizing: border-box;
  color: #333;
}
  
  #wrapper #dialog {
    border: solid 1px #ccc;
    margin: 10px auto;
    padding: 20px 30px;
    display: inline-block;
    box-shadow: 0 0 4px #ccc;
    background-color: #FAF8F8;
    overflow: hidden;
    position: relative;
    max-width: 450px;
  }
    
    #wrapper h3 {
      margin: 0 0 10px;
      padding: 0;
      line-height: 1.25;
      font-size: 1.5em;
    }
    
    #wrapper span {
      font-size: 90%;
    }
    
    #wrapper #form {
      max-width: 300px;
      margin: 25px auto 0;
      display: flex;
    }
      
    #wrapper #form input {
        margin: 0 5px;
        text-align: center;
        line-height: 80px;
        font-size: 50px;
        border: solid 1px #ccc;
        box-shadow: 0 0 5px #ccc inset;
        outline: none;
        width: 20%;
        transition: all .2s ease-in-out;
        border-radius: 3px;
      }
        
      #wrapper #form input:focus {
          border-color: purple;
          box-shadow: 0 0 5px purple inset;
        }
        
        #wrapper #form  input::selection {
          background: transparent;
        }
      
      
        #wrapper #confirm-code {
        margin:  30px 0 50px;
        width: 100%;
        padding: 6px;
        background-color: #B85FC6;
        border: none;
        text-transform: uppercase;
      }
    
    
      #wrapper  button .close {
        border: solid 2px;
        border-radius: 30px;
        line-height: 19px;
        font-size: 120%;
        width: 22px;
        position: absolute;
        right: 5px;
        top: 5px;
      }           
    
      #wrapper div {
      position: relative;
      z-index: 1;
    }
    
    #wrapper img {
      position: absolute;
      bottom: -70px;
      right: -63px;
    }


@media (max-width: 769px ){

.logo-index {
  width: 10rem;
  height: auto;
  margin: 30px 40px;
}

.title-index {
  font-size: 7rem;
  font-weight: bold;
}
.d-index {
  font-size: 2rem;
  margin: 10rem 1rem 2rem;
  font-weight: bold;
}

.btn-create {
  background-color: #912180;
  padding: 30px 40px;
  border: 1px solid white;
  color: white;
  font-size: 2rem;
  border-radius: 30px;
  width: 90%;
  font-weight: bold;
}

.explain-index {
  background-color : #5c2385;
  padding: 1em 0 1em 3em;
  margin: 5em 0;
}
.explain-index-text {
  margin: 2em auto;
  color: white;
  font-size: 3.5rem;
}
.explain-index-text > i {
  margin-right: 20px;
}

.login {
  margin: 3em 1em;
}
}

