  <div class="container">
    <div class="col-md-7">
      <div class="login">
        <div class="text-center">
          <div class="nube">
            <div id = "cloud"><span class='shadow'></span></div>
          </div>
          <img src="./images/Logo_Morado.png" alt="kiui-logo" class="logo-index">
          <h3 class="h3 mb-5 mt-5">Inicia sesión en Kiui</h3>
        </div>
        <div id="firebaseui-auth-container"></div>
        <div id="loader">Loading...</div>
      </div>
    </div>
  </div>
  
  
 <!-- Add the latest firebase dependecies from CDN -->
        <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 {{!-- <div class="login">
  <div class="text-center">
    <img src="./images/Logo_Morado.png" alt="kiui-logo" class="logo-index">
    <h1 class="h1 mb-5 mt-5">Inicia sesión en Kiui</h1>
  </div>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="email">Introduce el número de telefono</label>
      <input name="email" type="text" class="form-control {{#if error.email }}is-invalid{{/if}}" id="email"
        value="{{ user.email }}">

      {{#if error.email}}
        <div class="invalid-feedback">
          {{error.email.message}}
        </div>
      {{/if}}
    </div>
    <div class="form-group mb-5">
      <label for="password">Contraseña</label>
      <input name="password" type="password" class="form-control {{#if error.password }}is-invalid{{/if}}" id="password">

        {{#if error.password}}
          <div class="invalid-feedback">
            {{error.password.message}}
          </div>
      {{/if}}
    </div>
    <div class="text-center">
       <button type="submit" class="boton btn-create mt-5">Inicia sesión</button>
       <div class="stripe-sesion">
         <div class="stripe"></div>
         <div class="mr-5 ml-5">o</div>
         <div class="stripe"></div>
       </div>
       <p class="mt-5 mb-5 signup">¿No tienes una cuenta?  <a href="/signup">Regístrate</a></p>
    </div>
    
  </form>
 </div> --}}