<div>
<div class="text-center profile-bg">
    <img class="img-fluid rounded-circle mx-auto d-block img-profile" src="{{user.avatar}}" alt="avatar" width="60%">
</div>
</div>
<div class="profile-text">
    <p>Número de móvil: <span>{{user.number}}</span></p>
    <p><a href="/events">Ver todos los eventos</a></p>
</div>