
    <h1>Evento</h1>
    <table id="cart">
      <thead>
        <tr>
          <th>Asistentes</th>
        </tr>
      </thead>
      <tbody>
        <tr class="attendants">
          <td class="position">
            <span>1</span>
          </td>
          <td class="name">
            <span>Creador del evento</span>
          </td>
          <td class="action">
            <button class="btn btn-remove">Eliminar</button>
          </td>
        </tr>
        <!-- Iteration 2: Add more products here -->
        
      </tbody>
      <tfoot>
        <tr class="add-attendant">
          <td class="position">
            <span></span>
          </td>
          <td>
            <input id="attendant-name" type="text" placeholder="Escribe tu nombre" />
          </td>
          <td>
            <button id="add" class="btn">Voy!</button>
          </td>
        </tr>
      </tfoot>
    </table>
    <p class="compartir">
      <button id="compartir" class="btn btn-success">compartir</button>
    </p>
    <h2 id="total-value">Número de sistentes: <span>1</span></h2>
